

#flex_first {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top: 1rem;
}

#flex_second { display: flex; }
#flex_second form { width: 100%; }

.form-row{
    display:flex;
    flex-direction:column;
}

.form-row fieldset{
    display:flex;
    flex-direction:column;
}

@media screen and (max-width: 600px) {
   #grid_first {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 1rem;
   }
}

@media screen and (min-width: 600px) {
   #grid_first {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 1rem;
   }
}

@media screen and (min-width: 1300px) {
   #grid_first {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 1rem;
   }
}

#grid_first > div {
    padding: 1.5rem;
    border-radius: 1rem;
}

@media screen and (max-width: 600px) {
   #grid_second {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 100px;
      grid-gap: 1rem;
      justify-content: stretch;
   }

   .box1 {
      grid-area: box1;
      grid-column: span 1;
      grid-row: span 1;
  }
  
  .box2 {
      grid-area: box1;
      grid-column: span 1;
      grid-row: span 2;
  }
  
  .box3 {
      grid-area: box3;
      grid-column: span 1;
      grid-row: span 3;
  }
  
  .box4 {
      grid-area: box4;
      grid-column: span 1;
      grid-row: span 4;
  }
  
  .box5 {
      grid-area: box2;
      grid-column: span 1;
      grid-row: span 5;
  }
  
  .box6 {
      grid-area: box3;
      grid-column: span 1;
      grid-row: span 6;
  }
  
  .box7 {
      grid-area: box4;
      grid-column: span 1;
      grid-row: span 7;
  }
  
  .box8 {
      grid-area: box2;
      grid-column: span 1;
      grid-row: span 8;
  }
  
  .box9 {
      grid-area: box3;
      grid-column: span 1;
      grid-row: span 9;
  }
}

@media screen and (min-width: 600px) {
   #grid_second {
   display: grid;  
   grid-template-columns: auto auto;
   grid-template-rows: 100px;
   grid-gap: 1rem;
   justify-content: stretch;
   }

   .box1 {
      grid-area: box1;
      grid-column: span 2;
      grid-row-start: 1;
      grid-row-end: span 2;
  }
  
  .box2 {
      grid-area: box2;
      grid-column: 1;
      grid-row: 3;
  }
  
  .box3 {
      grid-area: box3;
      grid-column: 2;
      grid-row: 3;
  }
  
  .box4 {
      grid-area: box4;
      grid-column: 1;
      grid-row: 4;
  }
  
  .box5 {
      grid-area: box2;
      grid-column: 2;
      grid-row: 4;
  }
  
  .box6 {
      grid-area: box3;
      grid-column: 1;
      grid-row: 5;
  }
  
  .box7 {
      grid-area: box4;
      grid-column: 2;
      grid-row: 5;
  }
  
  .box8 {
      grid-area: box2;
      grid-column: 1;
      grid-row: 6;
  }
  
  .box9 {
      grid-area: box3;
      grid-column: 2;
      grid-row: 6;
  }
}
  
#grid_second--full {
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 200px;
  grid-gap: 10px;
}


#grid_second {
    display: grid;
        display: grid;
        grid-gap: 1rem;
        grid-template-areas: 
        "box1 box1 box1 box1 box1 box1"
        "box2 box2 box3 box3 box4 box4"
        "box5 box5 box6 box6 box7 box7"
        "box8 box8 box9 box9";
        justify-content: stretch;
}

.box1 {
    grid-area: box1;
    height: 100px;
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}

.box2, .box3, .box4, .box5,
.box6, .box7, .box8, .box9 {
    height: 100px;
    min-width: 400px;
}

.flex_div {
    display: inline-flex;
    min-width: fit-content;
    font-size: small;
}


/* ----------- Non-Retina Screens ----------- 
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
      #grid_second{
          display: grid;
          display: grid;
          grid-template-columns: 200px 200px 200px;
          grid-template-rows: 100px;
          grid-template-areas: 
          "box1 box1 box1"
          "box2 box3 box4"
          "box5 box6 box7"
          "box8 box9";
          justify-content: stretch;
}*/
